{% if categories %}
<div class="container">
  
  <div class="navbar-header"><span id="category" class="visible-xs">{{ text_category }}</span>
    <button type="button" class="btn btn-navbar navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"><i class="fa fa-bars"></i></button>
  </div>
  <div class="row">               
    {% for category in categories|slice(0, 3)  %}    
     
      <div class="col-sm-4">  
      <div class="image"><img src="{{ category.thumb }}" alt="{{category.name}}" title="{{ heading_title }}"  /></div>
      
      {% if category.children %}    
        <div class="dropdown"><a href="{{ category.href }}" class="dropdown-toggle" data-toggle="dropdown">{{ category.name }}</a>
          <div class="">
            <div class="dropdown-inner">                        
              {% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                <div class="divst-unstyled">                
                  {% for child in children|slice(0, 3) %}
                    <li><div><a href="{{ child.href }}">{{ child.name }}</a></div></li>                  
                  {% endfor %}
                </div>
              {% endfor %}
            
            </div>
          </div>
        </div>
      {% else %}
      <div><a href="{{ category.href }}">{{ category.name }}</a></div>
      {% endif %}
      </div> 
    {% endfor %}          
    
      </div>
    </div>
  </div>
  
</div>
{% endif %} 